#nav {
    background-color: black;
    width: 100%;
    height: 60px;
    overflow:auto;

}
.logo{
    float: left;
    width: 110px;
    height: 60px;
    background-color: white;
}
#nav-p{
    color:aliceblue;

}
.dropdown{
    margin-left: 50%;
    background-color: black;
}

#menu{
    background-color: black;
    text-align: center;

}
#menu a{
    text-decoration: none;
    color: aliceblue;
}
#menu a:hover{
    color:blue;
}
#main{
    border: 5px solid black;
    margin-top:10px;
}
#main1{
    border: 5px solid blue;
    margin:10px;
border-radius: 12px;
}
#buy{
    text-decoration: none;
    color:brown;
}
#para{
    margin-left: 10px;
}